#gf_001 {

	#chart_001 { position: relative; width: 93%; margin-left: 7%; float: left; margin-bottom:.3em; margin-top:15px;}

	.bar_001 {position: absolute; display: inline; float: left; background: #EEE; z-index: 10; }
	
	.gridBar_001 {position: absolute; width: 100%; z-index: 1; }
	
	.positiveG_001 span {position: absolute; text-align: right; width: 20px; left: -7%; top: -7px; font-size: 12px; color: #999; }
	.negativeG_001 span {position: absolute; text-align: right; width: 20px; left: -7%; font-size: 12px; color: #999; bottom: -10px; }
	
	.years_001 { width: 95%; margin-left: 5%; float: left; margin-bottom:2em;}
	.year_001 { width: 50%; display: inline; float: left; color: #333; margin-top: 1em; }
	.last_001 { text-align: right; }
	.second_001 { margin-top: 2em; }
	
	#label_001 { position: absolute; padding: 0.3em 0.3em; background: #FFF; border: 1px solid #EEE; pointer-events: none; z-index: 101; }
	
	.elementname_001 { width: 100%; float: left; margin-bottom: 0.2em; }
	.value_001 { width: 100%; float: left; font-weight: bold; }

	@media only screen and (min-width: 620px) and (max-width: 950px) {

	}

	@media only screen and (max-width: 620px) {
		.positiveG_001 span {left: -15%; }
		.negativeG_001 span {left: -15%; }
		.years_001 { width: 85%; margin-left: 15%; }
		#chart_001 { width: 85%; margin-left: 15%;}
	}
	
}
