.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf_001 {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px;
  font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; }
  #gf_001 img {
    width: 100%; }
  #gf_001 .grfxhead {
    width: 100%;
    margin-bottom: .3em;
    font-size: 22px;
    float: left;
    font-family: "Chronicle Deck 6r", Georgia, serif;
    font-weight: bold; }
  #gf_001 .grfxintro {
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left;
    max-width: 650px; }
  #gf_001 .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf_001 .source {
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }
  @media only screen and (max-width: 620px) {
    #gf_001 {
      width: 90%;
      margin: 0 5%; }
      #gf_001 .grfxhead {
        font-size: 18px;
        line-height: 1.4em;
        font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; } }

#gf_001 #chart_001 {
  position: relative;
  width: 93%;
  margin-left: 7%;
  float: left;
  margin-bottom: .3em;
  margin-top: 15px; }
#gf_001 .bar_001 {
  position: absolute;
  display: inline;
  float: left;
  background: #EEE;
  z-index: 10; }
#gf_001 .gridBar_001 {
  position: absolute;
  width: 100%;
  z-index: 1; }
#gf_001 .positiveG_001 span {
  position: absolute;
  text-align: right;
  width: 20px;
  left: -7%;
  top: -7px;
  font-size: 12px;
  color: #999; }
#gf_001 .negativeG_001 span {
  position: absolute;
  text-align: right;
  width: 20px;
  left: -7%;
  font-size: 12px;
  color: #999;
  bottom: -10px; }
#gf_001 .years_001 {
  width: 95%;
  margin-left: 5%;
  float: left;
  margin-bottom: 2em; }
#gf_001 .year_001 {
  width: 50%;
  display: inline;
  float: left;
  color: #333;
  margin-top: 1em; }
#gf_001 .last_001 {
  text-align: right; }
#gf_001 .second_001 {
  margin-top: 2em; }
#gf_001 #label_001 {
  position: absolute;
  padding: 0.3em 0.3em;
  background: #FFF;
  border: 1px solid #EEE;
  pointer-events: none;
  z-index: 101; }
#gf_001 .elementname_001 {
  width: 100%;
  float: left;
  margin-bottom: 0.2em; }
#gf_001 .value_001 {
  width: 100%;
  float: left;
  font-weight: bold; }
@media only screen and (max-width: 620px) {
  #gf_001 .positiveG_001 span {
    left: -15%; }
  #gf_001 .negativeG_001 span {
    left: -15%; }
  #gf_001 .years_001 {
    width: 85%;
    margin-left: 15%; }
  #gf_001 #chart_001 {
    width: 85%;
    margin-left: 15%; } }
